DATABASE_URL=postgresql://user:password@localhost/dbname
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALLOWED_ORIGINS=http://localhost:3000,https://your-frontend-domain.com
IS_PRODUCTION=False

ESI_URL=https://esi.evetech.net
ESI_CLIENT_ID=your_esi_client_id
ESI_CLIENT_SECRET=your_esi_client_secret
ESI_REDIRECT_URI=http://localhost:8000/auth/callback
